{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Title {% endblock %}

{% block stylesheets %}	
  {{ parent() }}	
{% endblock %} 

{% block body %}
  <h1>Title</h1>
  <p>Loreum ipsum ...</p>
{% endblock %} 

{% block javascripts %}			
  {{ parent() }}				
{% endblock %}
